<br>
<br>
<div class="container">
    <legend>Edit Category</legend>
    <form >
      <div class="mb-3">
        <label for="txtName" class="form-label">Name</label>
        <input type="text" name="Name" [(ngModel)] = "categoryForm.categoryName" class="form-control" id="txtName" />
      </div>
      <div class="mb-3">
        <label for="txtName" class="form-label">Description</label>
        <input type="text" name="Description" [(ngModel)] = "categoryForm.categoryDescription" class="form-control" id="txtName" />
      </div>
      <div class="mb-3">
        <label for="txtName" class="form-label">Image</label>
        <input type="text" name="categoryImage" [(ngModel)] = "categoryForm.categoryImage" class="form-control" id="txtName" />
      </div>
      
      <button type="button" (click)="update()" class="btn btn-primary">Update</button>
    </form>
  </div>
