<br>
<br>
<div class="container">
    <legend>Edit Menu</legend>
    <form >
      <div class="mb-3">
        <label for="txtName" class="form-label">Name</label>
        <input type="text" name="menuName" [(ngModel)] = "menuForm.menuName" class="form-control" id="txtName" />
      </div>
      <div class="mb-3">
        <label for="txtName" class="form-label">Description</label>
        <input type="text" name="menuDescription" [(ngModel)] = "menuForm.menuDescription" class="form-control" id="txtName" />
      </div>
      <div class="mb-3">
        <label for="txtName" class="form-label">Image</label>
        <input type="text" name="menuImage" [(ngModel)] = "menuForm.menuImage" class="form-control" id="txtName" />
      </div>
      
      <button type="button" (click)="update()" class="btn btn-primary">Update</button>
    </form>
  </div>
