<div class="img-holder">
    <img src="../../assets/manage.png" alt="image description" style="height: 100%; width: 100vw;"/>
    <button routerLink="/menuitems" class="nav-link active" aria-current="page" type="button" class="link btn btn-outline-light btn-lg" href="">Menu Dashboard</button>
</div>

<div class="img-holder2">
    <button routerLink="/categoryitems" class="nav-link active" aria-current="page" type="button" class="link2 btn btn-outline-light btn-lg" href="">Category Dashboard</button>
</div>

<div class="img-holder3">
    <button routerLink="/dishitems" class="nav-link active" aria-current="page" type="button" class="link3 btn btn-outline-light btn-lg" href="">Dish Dashboard</button>
</div>