<br>
<br>
<div class="container">
    <legend>New Dish</legend>
    <form >
        <div class="mb-3">
            <label for="txtName" class="form-label text-left">Dish ID</label>
            <input type="text" name="Fid" [(ngModel)] = "dishForm.dishID" class="form-control" id="txtId" />
        </div>
      <div class="mb-3">
        <label for="txtName" class="form-label">Name</label>
        <input type="text" name="Fname" [(ngModel)] = "dishForm.dishName" class="form-control" id="txtName" />
      </div>
      <div class="mb-3">
        <label for="txtName" class="form-label">Description</label>
        <input type="text" name="Src" [(ngModel)] = "dishForm.dishDescription" class="form-control" id="txtName" />
      </div>
      <div class="mb-3">
        <label for="txtName" class="form-label">Price</label>
        <input type="text" name="Src" [(ngModel)] = "dishForm.dishPrice" class="form-control" id="txtName" />
      </div>
      <div class="mb-3">
        <label for="txtName" class="form-label">Image</label>
        <input type="text" name="Dest" [(ngModel)] = "dishForm.dishImage" class="form-control" id="txtName" />
      </div>
      <div class="mb-3">
        <label for="txtName" class="form-label">Nature</label>
        <input type="text" name="Dest" [(ngModel)] = "dishForm.nature" class="form-control" id="txtName" />
      </div>
      
      <button type="button" (click)="create()" class="btn btn-primary">Submit</button>
    </form>
  </div>

